html, body {
    font: 12px 'Segoe UI';
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
#header {
    flex: 0 0 50px;
    -webkit-flex: 0 0 50px;
    padding:12px 10px;
    font:30px 'Segoe UI Light';
}
#footer {
    flex: 0 0 30px;
    -webkit-flex: 0 0 30px;
    padding:12px 10px;
}
#main {
    flex: 1 0 0px; /** Don't set parent of component to auto */
    -webkit-flex: 1 0 0px; /** Don't set parent of component to auto */
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    min-height: 0px;
}
.panel {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    overflow: none;
    padding-left:10px;padding-right:10px;
}
.panelheader{
    font:20px 'Segoe UI Light';
    padding-bottom:10px;
}
#botWC {
    position: relative;
    background-color: white;
    border:1px solid;
    overflow-y:auto;
}
